ROS_DISTRO=jazzy
ROS_DOMAIN_ID=42
ISAACSIM_HOST=127.0.0.1
ISAACSIM_SIGNAL_PORT=49100
ISAACSIM_STREAM_PORT=47998
ISAACSIM_TAG=5.1.0
NETLAB_UID=1000
NETLAB_GID=1000
NETLAB_SHARED_FILE_MODE=0664
NETLAB_SHARED_DIR_MODE=2775
