# NETLAB / KAUST SWARM-SYM - Brev + Isaac Sim + ROS 2 Jazzy + Sionna
ROS_DISTRO=jazzy
ROS_DOMAIN_ID=42
RMW_IMPLEMENTATION=rmw_fastrtps_cpp
FASTRTPS_DEFAULT_PROFILES_FILE=/workspace/shared/fastdds.xml

# Set this to the public IP of your Brev VM, for example 204.52.28.84
ISAACSIM_HOST=YOUR_BREV_PUBLIC_IP
ISAACSIM_SIGNAL_PORT=49100
ISAACSIM_STREAM_PORT=47998

ISAACSIM_TAG=5.1.0
ISAAC_IMAGE=netlab-isaac-sim-jazzy:5.1.0
ROS2_IMAGE=netlab-ros2-jazzy:brev
PX4_IMAGE=netlab-px4-sitl:brev
SIONNA_IMAGE=netlab-sionna:brev
